<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <<a class="nav-link " asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Category" asp-action="Index">
                <i class="bi bi-book"></i> <span>Categorías</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Product" asp-action="Index">
                <i class="bi bi-book"></i> <span>Productos</span>
            </a>
        </li>

    </ul>
    
</aside>